bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
exstra_data.csv
HotelService.Logic/archive/thumbnails/thumbnails/3362.jpg
HotelService.Logic/archive/.DS_Store
HotelService.Logic/archive/thumbnails/thumbnails/100002.jpg
*.jpg
HotelService.sln
HotelService.sln
HotelService.Logic/extra_data.csv
HotelService.Logic/archive/thumbnails/.DS_Store
HotelService.Api/ApartmentService.http
*.xml
HotelService.Api/appsettings.json
*.json

HotelService.sln
HotelService.Logic/.DS_Store
